<div id="projects" class="projects-container">
  <h2 class="title-projects" data-section="projects" data-value="title"></h2>
  <div class="per-projects">
    <div class="project-container">
      <div class="gif-container">
        <img
          class="demo-gif"
          src="../../../assets/demo/hechoenperu.gif"
          alt="Gif de la plataforma Hecho en Peru"
        />
      </div>
      <div class="details-container">
        <h3
          class="title-per-project"
          data-section="projects"
          data-value="name-two"
        ></h3>
        <div class="items-per-skills">
          <p>JavaScript</p>
          <p>Bootstrap</p>
        </div>
        <p
          class="description-per-project"
          data-section="projects"
          data-value="description-two"
        ></p>
        <div class="button-container">
          <a href="https://github.com/AlexandraRamirezz/Hecho-en-Peru" target="_blank">
            <button class="button-project">Code</button>
          </a>
          <a href="https://hecho-en-peru.netlify.app" target="_blank">
            <button class="button-project">Demo</button>
          </a>
        </div>
      </div>
    </div>
    <div class="project-container">
      <div class="gif-container">
        <img
          class="demo-gif"
          src="../../../assets/demo/hechoenperu-admin.gif"
          alt="Gif de la plataforma Hecho en Peru"
        />
      </div>
      <div class="details-container">
        <h3
          class="title-per-project"
          data-section="projects"
          data-value="name-three"
        ></h3>
        <div class="items-per-skills">
          <p>Angular</p>
          <p>SweetAlert2</p>
          <p>Toastify</p>
          <p>Chart.js</p>
          <p>API Backend Java</p>
        </div>
        <p
          class="description-per-project"
          data-section="projects"
          data-value="description-three"
        ></p>
        <div class="button-container">
          <a href="https://github.com/GwynethS/Hecho-en-Peru-Frontend" target="_blank">
            <button class="button-project">Code</button>
          </a>
        </div>
      </div>
    </div>
    <div class="project-container">
      <div class="gif-container">
        <img
          class="demo-gif"
          src="../../../assets/demo/hogwartscourses.gif"
          alt="Gif de la plataforma Hecho en Peru"
        />
      </div>
      <div class="details-container">
        <h3
          class="title-per-project"
          data-section="projects"
          data-value="name-four"
        ></h3>
        <div class="items-per-skills">
          <p>Angular</p>
          <p>SweetAlert2</p>
          <p>Chart.js</p>
          <p>API REST</p>
          <p>JSON-Server</p>
        </div>
        <p
          class="description-per-project"
          data-section="projects"
          data-value="description-four"
        ></p>
        <div class="button-container">
          <a href="https://github.com/AlexandraRamirezz/ng-HogwartsCourses" target="_blank">
            <button class="button-project">Code</button>
          </a>
        </div>
      </div>
    </div>
    <div class="project-container">
      <div class="gif-container">
        <img
          class="demo-gif"
          src="../../../assets/demo/mangaworld.gif"
          alt="Gif de la plataforma Hecho en Peru"
        />
      </div>
      <div class="details-container">
        <h3
          class="title-per-project"
          data-section="projects"
          data-value="name-five"
        ></h3>
        <div class="items-per-skills">
          <p>JavaScript</p>
          <p>JSON-Server</p>
          <p>SweetAlert2</p>
          <p>Toastify</p>
        </div>
        <p
          class="description-per-project"
          data-section="projects"
          data-value="description-five"
        ></p>
        <div class="button-container">
          <a href="https://github.com/AlexandraRamirezz/MangaWorld-JS" target="_blank">
            <button class="button-project">Code</button>
          </a>
          <a href="https://manga-world-js.vercel.app" target="_blank">
            <button class="button-project">Demo</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>