.menu-list-items {
  background-color: var(--fifth-color);
  gap: 30px;
  padding: 0.7rem;
  padding-top: 2.8rem;
  width: 48rem;
  border-radius: 30px;
  position: fixed;
  top: -35px;
  right: 5%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 8px;
  font-size: 0.9rem;
  background-color: var(--fifth-color);
  color: var(--second-color);
  border-radius: 6px;
  cursor: pointer;
}

.menu-list-item:hover {
  background-color: #EDA08A;
  color: #ffffff;
}

.menu-list-item a {
  text-decoration: none;
  color: inherit;
}

.languages {
  background-color: #6E6F7F;
  color: #ffffff;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  border-radius: 15px;
}

.languages-item {
  cursor: pointer;
  background-color: #6E6F7F;
  padding: 5px 12px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.languages-item.active {
  background-color: #EDA08A;
  padding: 5px 12px;
  border-radius: 20px;
}

.button-style {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style img {
  width: 20px;
}

.hamburger-icon, .close-icon {
  color: var(--second-color);
  background-color: var(--third-color);
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 110;
  display: none;
}

.theme-mode {
  display: flex;
  align-items: center !important;
  justify-content: center;
}

@media (max-width: 860px) {
  .menu-list-items {
    width: 100%;
    padding: 0.7rem;
    top: 2.2rem;
    right: 0;
    background-color: var(--fifth-color);
  }

  .hamburger-icon, .close-icon {
    display: block;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    top: 0;
    right: 0;
  }

  .close-icon {
    background-color: var(--fifth-color);
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    top: 0;
    right: 0;
    display: none;
  }

  #navbar {
    display: none;
    padding-top: 2.4rem;
    top: 20px;
    width: 100%;
  }

  .fa-bars {
    margin-right: 0.5rem;
  }

  .fa-times {
    margin-right: 0.7rem;
  }

  .languages, .theme-mode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 792px) {
  .menu-list-items {
    gap: 9px;
  }
}

@media (max-width: 630px) {
  .menu-list-items {
    gap: 7px;
  }

  #navbar {
    flex-direction: column;
  }

  #languages {
    margin: 0.6rem 0;
  }

  .theme-mode {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }
}