<div class="container-navbar">
  <nav class="menu-list-items">
    <div class="menu-list-item">
      <a href="#about-me" mat-list-item>
        <span data-section="about-me" data-value="title"></span>
      </a>
    </div>
    <div class="menu-list-item">
      <a href="#skills" mat-list-item>
        <span data-section="skills" data-value="title"></span>
      </a>
    </div>
    <div class="menu-list-item">
      <a href="#projects" mat-list-item>
        <span data-section="projects" data-value="title"></span>
      </a>
    </div>
    <div class="menu-list-item">
      <a href="#designs" mat-list-item>
        <span data-section="designs" data-value="title"></span>
      </a>
    </div>
    <div id="languages" class="languages">
      <div class="languages-item" data-language="es">ES</div>
      <div class="languages-item" data-language="en">EN</div>
    </div>
    <div class="theme-mode">
      <figure mat-icon-button class="button-style" type="button">
        <img src="../../../../assets/images/moon.png" id="theme">
      </figure>
    </div>
  </nav>
</div>