<div id="about-me" class="about-me-container">
  <div class="text-container">
    <h2 class="title-about-me" data-section="about-me" data-value="title"></h2>
    <div class="description-container">
      <p
        class="description-first-part"
        data-section="about-me"
        data-value="description"
      ></p>
      <p
        class="description-highlighted"
        data-section="about-me"
        data-value="highlighted-one"
      ></p>
    </div>
    <div class="description-container-two">
      <p
        class="description-first-part"
        data-section="about-me"
        data-value="description-first-part"
      ></p>
      <p
        class="description-highlighted"
        data-section="about-me"
        data-value="highlighted-two"
      ></p>
      <p
        class="description-first-part"
        data-section="about-me"
        data-value="description-second-part"
      ></p>
    </div>
  </div>
  <div class="education-container">
    <div class="career-container">
      <h4
        class="title-education"
        data-section="about-me"
        data-value="name-career-one"
      ></h4>
      <span class="span-education"
        >Universidad Peruana de Ciencias Aplicadas</span
      >
      <p class="p-education" data-section="about-me" data-value="date-one"></p>
    </div>
    <div class="career-container">
      <h4
        class="title-education"
        data-section="about-me"
        data-value="name-career-two"
      ></h4>
      <span class="span-education">Coderhouse</span>
      <p class="p-education" data-section="about-me" data-value="date-two"></p>
    </div>
    <div class="career-container">
      <h4
        class="title-education"
        data-section="about-me"
        data-value="name-career-three"
      ></h4>
      <span class="span-education">Coderhouse</span>
      <p
        class="p-education"
        data-section="about-me"
        data-value="date-three"
      ></p>
    </div>
  </div>
</div>