.title-about-me, .career-container {
  color: var(--second-color);
}

.description-container p {
  display: inline;
}

.description-container-two {
  padding-top: 1rem;
}

.description-container-two p {
  display: inline;
}

.description-first-part, .description-second-part {
  color: var(--second-color);
}

.description-highlighted {
  color: var(--fourth-color);
}

.about-me-container {
  padding: 4rem 10rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3.8rem;
  h4 {
    font-size: 1rem;
  }
  span {
    font-size: 0.95rem;
  }
}

.text-container {
  width: 51.8%;
}

.title-about-me {
  padding-bottom: 1rem;
  color: var(--second-color);
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 42%;
  p {
    font-size: 0.90rem;
    opacity: 0.7;
  }
}

.career-container {
  border-left: #EDA08A 4px solid;
  padding-left: 2rem;
}

@media (max-width: 1173px) {
  .about-me-container {
    flex-direction: column;
    gap: 2.5rem;
  }

  .text-container {
    width: 100%;
  }

  .education-container {
    width: 100%;
    flex-direction: row;
  }
}

@media (max-width: 1026px) {
  .education-container {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 684px) {
  .about-me-container {
    padding: 5.2rem 5rem 0 5rem;
  }
}