<div id="skills" class="skills-container">
  <h2 class="title-skills" data-section="skills" data-value="title"></h2>
  <div class="skills-all">
    <div class="per-skill">
      <p
        class="description-skill"
        data-section="skills"
        data-value="languages"
      ></p>
      <div class="items-per-skills">
        <p>C#</p>
        <p>C++</p>
        <p>Java</p>
        <p>Python</p>
        <p>JavaScript</p>
        <p>TypeScript</p>
      </div>
    </div>
    <div class="per-skill">
      <p class="description-skill" data-section="skills" data-value="tools"></p>
      <div class="items-per-skills">
        <p>Git</p>
        <p>Github</p>
        <p>Visual Studio Code</p>
        <p>Microsoft Excel</p>
        <p>Power BI</p>
        <p>Notion</p>
      </div>
    </div>
    <div class="per-skill">
      <p
        class="description-skill"
        data-section="skills"
        data-value="frameworks"
      ></p>
      <div class="items-per-skills">
        <p>Angular</p>
        <p>React</p>
        <p>Spring Boot</p>
        <p>SweetAlert2</p>
        <p>Toastify</p>
        <p>Chart.js</p>
      </div>
    </div>
    <div class="per-skill">
      <p
        class="description-skill"
        data-section="skills"
        data-value="databases"
      ></p>
      <div class="items-per-skills">
        <p>PostgreSQL</p>
        <p>SQL Server</p>
        <p>AWS</p>
      </div>
    </div>
    <div class="per-skill">
      <p
        class="description-skill"
        data-section="skills"
        data-value="soft-skills"
      ></p>
      <div class="items-per-skills">
        <p data-section="skills" data-value="adaptability"></p>
        <p data-section="skills" data-value="communication"></p>
        <p data-section="skills" data-value="problem-resolution"></p>
        <p data-section="skills" data-value="teamwork"></p>
        <p data-section="skills" data-value="creativity"></p>
        <p data-section="skills" data-value="autonomy"></p>
      </div>
    </div>
  </div>
</div>