.title-skills {
  padding-bottom: 1.7rem;
  color: var(--second-color);
}

.skills-container {
  padding: 6.5rem 7rem 0 7rem;
}

.skills-container-info {
  padding: 2rem 3rem;
  background-color: var(--third-color);
}

.skills-all {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.description-skill {
  color: var(--second-color);
}

.per-skill {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
}

.items-per-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.items-per-skills p {
  display: inline-block;
  color: var(--second-color);
  padding: 5px 18px;
  border: var(--second-color) solid 1px;
  border-radius: 5px;
  font-size: 0.85rem;
  white-space: nowrap;
}

.items-per-skills p:hover {
  background-color: var(--second-color);
  color: var(--primary-color);
}