<div id="designs" class="designs-container">
  <h2 class="title-designs" data-section="designs" data-value="title"></h2>
  <div class="per-designs">
    <div class="design-container">
      <div class="img-container">
        <img
          class="design-image"
          src="../../../assets/designs/mockup-pachamamas.png"
          alt="Mockup de la plataforma Pachamama's kitchen"
        />
      </div>
      <div class="btn-container">
        <a href="https://app.uizard.io/p/88ad6ac8" target="_blank">
          <button
            class="btn-design"
            data-section="designs"
            data-value="button"
          ></button>
        </a>
      </div>
    </div>
    <div class="design-container">
      <div class="img-container">
        <img
          class="design-image"
          src="../../../assets/designs/mockup-hechoenperu-admin.png"
          alt="Mockup de la plataforma Hecho en Peru en vista administrativa"
        />
      </div>
      <div class="btn-container">
        <a href="https://app.uizard.io/p/688574ef" target="_blank">
          <button
            class="btn-design"
            data-section="designs"
            data-value="button"
          ></button>
        </a>
      </div>
    </div>
    <div class="design-container">
      <div class="img-container">
        <img
          class="design-image"
          src="../../../assets/designs/wireframe-hechoenperu.png"
          alt="Mockup de la plataforma Hecho en Peru"
        />
      </div>
      <div class="btn-container">
        <a href="https://app.uizard.io/p/1b02bc94" target="_blank">
          <button
            class="btn-design"
            data-section="designs"
            data-value="button"
          ></button>
        </a>
      </div>
    </div>
  </div>
</div>