<div class="profile-container">
  <div class="presentation-container">
    <h1
      class="title-greeting"
      data-section="profile"
      data-value="presentation"
    ></h1>
    <div class="description-p-container">
      <p
        class="description-first-part"
        data-section="profile"
        data-value="description-first-part"
      ></p>
      <p
        class="description-highlighted"
        data-section="profile"
        data-value="highlighted"
      ></p>
      <p
        class="description-second-part"
        data-section="profile"
        data-value="description-second-part"
      ></p>
    </div>
    <div class="downloads-btn-container">
      <a href="../../../../../assets/docs/Alexandra Ramirez - Curriculum.pdf" target="_blank">
        <button
          class="button-download"
          data-section="profile"
          data-value="button-download"
        ></button>
      </a>
      <a href="../../../../../assets/docs/Alexandra Dayanna Ramirez Diaz - Curriculum Vitae.pdf" target="_blank">
        <button
          class="button-download-ATS"
          data-section="profile"
          data-value="button-download-ATS"
        ></button>
      </a>
      <div class="icon-container">
        <a href="https://www.linkedin.com/in/alexandra-ramirez-diaz/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2x icon-design"></i>
        </a>
        <a href="https://github.com/AlexandraRamirezz" target="_blank">
          <i class="fa-brands fa-github fa-2x icon-design"></i>
        </a>
        <div class="email-icon-container">
          <i class="fa-solid fa-envelope fa-2x icon-design" id="email-icon"></i>
          <div id="copy-message" class="copy-message" data-section="message" data-value="copy">Copied!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img
      src="../../../assets/images/background.png"
      class="back-photo"
      alt="Background for the photo"
    />
    <img
      src="../../../assets/images/photo.png"
      class="photo"
      alt="Alexandra's photo"
    />
  </div>
</div>